html {
    min-width: 1366px;
    min-height: 768px;
}

body {
    font-family: "Microsoft YaHei";
    background-color: #EDF0F7;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}

.card {
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 0 6px #cdcdcd;
}